@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-family: 'Times New Roman', serif;"> Joana Ilievska 201032</p>
<p style="font-family: 'Times New Roman', serif;"> Домашна работа по предметот интегрирани системи 2023</p>

